.tablero{
    width: 600px;
    height: 600px;
    background-color: #690570;
    border: 3px solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: space-around; 
    padding: 10px;
}

.circulos{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: pink;
    border: 3px solid palevioletred;
}

.circulorojo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #9B8FFA;
    border: 3px solid burlywood; 
}